.angular-color-picker {
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 285px;
    border: 2px solid #8A2908;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.angular-color-picker .acp-control-panel {
    height: 25px;
    background-color: #8A2908;
    cursor: pointer;
}

.angular-color-picker .acp-control-panel .acp-close-button {
    position: absolute;
    right: 0px;
}

.angular-color-picker .acp-main-panel {
    padding: 10px;
    height: 240px;
}

.angular-color-picker .acp-out-color {
    margin-top: 10px;
    width: 70px;
    height: 45px;
    border: 1px dashed black;
    display: inline-block;
    top: 0;
    left: 100%;
    float: left;
}

.angular-color-picker .acp-text {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

 .angular-color-picker .acp-block-picker {
    background-color:red;
    position: relative;
    height: 180px;
    width: 180px;
    user-select: none;
}

.angular-color-picker .acp-block-picker img {
    width: 180px;
}

.angular-color-picker .acp-line-piker {
    position: absolute;
    left: 210px;
    cursor: pointer;
    user-select: none;
}

.angular-color-picker #acp-right-arrow {
    width: 0;
    height: 0;
    left: 23px;
    position: absolute;
    border-bottom: 6px solid transparent;
    border-left: 10px solid transparent;
    border-top: 6px solid transparent;
    border-right: 10px solid black;
}

.angular-color-picker #acp-left-arrow {
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 6px solid transparent;
    border-left: 10px solid black;
    border-top: 6px solid transparent;
    border-right: 8px solid transparent;
}

.angular-color-picker .acp-arrows {
    position: absolute;
    top: 0;
    margin-top: -4px;
    left: -11px;
    width: 40px;
    cursor: pointer;
    user-select: none;
}

.angular-color-picker .acp-circle {
    width: 6px;
    height: 6px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
    user-select: none; 
}