<!DOCTYPE html>
<html ng-app="test">
<head>
    <title>Angular Color Picker</title>
    <link rel="stylesheet" href="../css/angularColorPicker.css">
    <script src="../node_modules/angular/angular.js"></script>

    <script src="../build/angularColorPicker.js"></script>

    <script>
        angular.module('test', ['angularColorPicker'])
        .controller('constructor', function($scope) {
            $scope.color = 'rgb(61,38,137)';
        });
    </script>
    <style>
        #bt {
            /*margin: 100px;*/
            position: relative;
            left: 50%;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div ng-controller="constructor">
        <!-- <button id="bt" angular-color-picker ng-model="color">eeeee</button> -->
        <div id="bt" ng-style="{'background-color': color}" angular-color-picker ng-model="color">{{color}}</div>
    </div>
</body>
</html>